---
import Card from "../components/Card.astro"
import BaseLayout from "../layouts/BaseLayout.astro"
---

<BaseLayout>
    <main class="w-11/12 mx-auto mt-8">
        <section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
            <Card
            title="Desarrollo Web con Tailwind CSS: Optimizando la Eficiencia del Estilo en Proyectos Web"
            content="Lorem ipsum dolor sit amet consectetur adipisicing elit. At rerum tenetur voluptates obcaecati voluptatum corporis molestias cupiditate iste eveniet quis? Id, tempore cum! Atque a quisquam error inventore, minima nisi."
            tags="css"
            date="Mayo 20 2023"
            authorApi="https://ui-avatars.com/api?name=Keven+CB"
            authorName="Kev CB"
        />
        <Card
        title="Desarrollo Web con Tailwind CSS"
        content="Lorem ipsum dolor sit amet consectetur adipisicing elit. At rerum tenetur voluptates obcaecati voluptatum corporis molestias cupiditate iste eveniet quis? Id, tempore cum! Atque a quisquam error inventore, minima nisi."
        tags="css"
        date="Mayo 20 2023"
        authorApi="https://ui-avatars.com/api?name=Keven+CB"
        authorName="Kev CB"
    />
    <Card
    title="Desarrollo Web con Tailwind CSS: Optimizando la Eficiencia del Estilo en Proyectos Web"
    content="Lorem ipsum dolor sit amet consectetur adipisicing elit. At rerum tenetur voluptates obcaecati voluptatum corporis molestias cupiditate iste eveniet quis? Id, tempore cum! Atque a quisquam error inventore, minima nisi."
    tags="css"
    date="Mayo 20 2023"
    authorApi="https://ui-avatars.com/api?name=Keven+CB"
    authorName="Kev CB"
/>
<Card
title="Desarrollo Web con Tailwind CSS: Optimizando la Eficiencia del Estilo en Proyectos Web"
content="Lorem ipsum dolor sit amet consectetur adipisicing elit. At rerum tenetur voluptates obcaecati voluptatum corporis molestias cupiditate iste eveniet quis? Id, tempore cum! Atque a quisquam error inventore, minima nisi."
tags="css"
date="Mayo 20 2023"
authorApi="https://ui-avatars.com/api?name=Keven+CB"
authorName="Kev CB"
/>
        </section>
    </main>
</BaseLayout>
